<footer id="footer" class="site-footer">
  <div class="container-fluid">
    <div class="site-footer-grid">
      <div>
        <p class="site-footer-title">{{ site.title }}</p>
        <img class="site-footer-logo" src="{{ '/images/logo/mpl-logo.png' | relative_url }}" alt="MPL, Media Processor Lab, Sejong University">
      </div>

      <div class="site-footer-contact">
        <p><strong>Email</strong> pwchan@sejong.ac.kr</p>
        <p><strong>Tel</strong> 070-7716-8003</p>
        <p><strong>Address</strong> 209, Neungdong-ro, Gwangjin-gu, Seoul, Republic of Korea</p>
      </div>
    </div>

    <p class="site-footer-copy">Copyright, 2019</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/js/pagination.js' | relative_url }}"></script>


<!--
			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/ericdaat/research-lab-website">Github Repository</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
			</div>
-->
