<!DOCTYPE html>
<html>

  {% include head.html %}

  <body{% if page.layout == 'homelay' %} class="home-page"{% endif %}>

    {% include header.html %}

    <main class="site-content">
      <div class="container-fluid">
        {% if page.layout == 'homelay' %}
          <div class="row site-home-row">
            {{ content }}
          </div>
        {% else %}
          <div class="row">
            <div class="col-sm-12">
              {{ content }}
            </div>
          </div>
        {% endif %}
      </div>
    </main>

    {% include footer.html %}
  </body>

</html>
